<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

   <section>
      
     <div class="container">
     
         <div class="card">
         
             <div class="card-body">
             
                <div class="container text-center mt-3">
                    <img style="width: 200px; height: 200px" class="my_profile_picture" alt="profile image" src="" th:src="@{'/image/'+${user.imageUrl}}"/>
                </div>
              
               <h1 class="text-center" th:text="${user.name}"></h1>
             
                 <table class="table text-center">
				  <thead>
				    <tr>
				      <th scope="col">#ID</th>
				      <th scope="col">SCMUSER<span th:text="${user.id}"></span></th>
				     
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">Email</th>
				      <td th:text="${user.email}">Mark</td>
				    </tr>
				    
				    <tr>
				      <th scope="row">Role</th>
				      <td th:text="${user.role}">Mark</td>
				    </tr>
				    
				     <tr>
				      <th scope="row">Account Active</th>
				      <td th:text="${user.enabled}">Mark</td>
				    </tr>
				    
				      <tr>
				      <th scope="row">About You</th>
				      <td th:text="${user.about}">Mark</td>
				    </tr>
				   
				  </tbody>
				</table>
                
             </div>
            
            
         </div>
     </div>

	 <script>
		$(document).ready(()=>{
		   $(".item").removeClass("active");
		   $("#profile-link").addClass("active");
		});
	 </script>
     
   </section>

</body>
</html>